<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>HOME</title>
</head>
<body>
    <br>NO. OF BOOKS IN DB : 20 <br>
    <br>NAMES : name01, name02, ..., name20 <br>
    <br>CATEGORIES DIVIDED INTO : g, a, u, t, m <br>
    <br>RENT RANGE : 1 TO 4 <br>
    <br>CATEGORIES AND RENT ARE RANDOMISED WHILE ASSIGNING <br>
    <br> APIs:<br>
    list_books : takes params {"book name", ["low", "high"]}, lists books accordingly <br>
    issue_book : <br>
    return_book : <br>
    book_status_by_ppl : <br>
    rent_genrtd : <br>
    list_books_issued : <br>
    date_range : <br>
</body>
</html>